<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>
<h1>Mon super site de gossip, depuis le dossier views !</h1>
<p>Bienvenue dans le super site de gossip, la liste des potins arrive bientôt, en attendant, tu peux aller créer un nouveau potin à travers le lien ci-dessous</p>
<a href="/gossips/new/">lien pour créer un nouveau potin</a>
<% gossips.each do |gossip| %>
  <p>
    <%= gossip.author %><br/>
    <%= gossip.content %>
  </p>
<% end %>
</body>
</html>